<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="preload" type="text/css" href="styles/Bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/Bootstrap/dist/css/bootstrap.min.css" />
    
    <link defer rel="stylesheet" type="text/css" href="styles/fonts.min.css" />
    <link defer rel="stylesheet" type="text/css" href="styles/main.min.css" />
    <script defer src="https://kit.fontawesome.com/a0ab104ace.js" crossorigin="anonymous"></script>


    <title>candorism</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but candorism doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      Loading...
    </div>
    <!-- built files will be auto injected -->

    
    <script type="text/javascript" src="scripts/vendors/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/vendors/fontawesome-all.min.js"></script>
    <script type="text/javascript" src="scripts/js/popper.min.js"></script>
    <script type="text/javascript" src="scripts/Bootstrap/bootstrap.all.min.js"></script>
  </body>
</html>
