<template>
  <router-view></router-view>
</template>

<script>


export default {

}
</script>

<style lang="scss">
  @import "./css/theme-styles/variables";

/*  body {
    background-color: $naon-light-purple;
  }*/
</style>

