<template>
     <main class="form">
            <div class="logo"></div>
          
            <form id="registration-form" class="registration">
                <h1>Login</h1>
                <span class="status" v-if="getStatus.length > 0">{{getStatus}}</span>
                    <fieldset>
                        <input type="text" class="form-control" placeholder="Username" id="username" v-model="username" required>
                        <i class="far fa-user"></i>
                    </fieldset>
                    <fieldset>
                        <input type="password" class="form-control" placeholder="Password" id="password" v-model="password" required>
                        <i class="fas fa-key"></i>
                    </fieldset>
                <span class="no-account-msg">Don't have an account? Register <router-link to="/register" tag="a" active-class="active" exact>here</router-link></span>
                <div class="button-wrapper">
                    <button type="submit" :disabled="disableSubmit" class="btn btn-primary" @click.prevent="login()">Submit</button>
                    <button class="btn btn-secondary">Cancel</button>
                   
                </div>
            </form>
        </main>
</template>
<script>
import axios from 'axios';
import gql from 'graphql-tag';

export default {
    apollo: {

    },
     data() {
            return {
            username: "",
            password: "",
            disableSubmit: false,
        }
    },
    components:{
        'naon-header': ()=>import('../../shared/components/header'),
        'naon-sidebar': ()=>import('../../shared/components/sidebar-left')
    },
    computed: {
        getStatus() {
            return this.$store.state.status;
        }
    },
    methods: {
        login() {

            //console.log(this.$apollo);
          /*  this.$apollo.mutate({
                mutation: gql`mutation ($username: String!, $password: String!){
                    login(username: $username, password: $password)
                }`,
                variables: {
                    username: this.username,
                    password: this.password
                }
            });*/
            this.disableSubmit = true;

             this.$store.dispatch("AUTH_REQUEST", {username: this.username, password: this.password}).then(() => {
                this.disableSubmit = false;
                console.log("success");
                //this.$router.push({name: "mainPage"});
                location.reload();
            }).catch(err=>{
                this.disableSubmit = false;
            })

             this.disableSubmit = false;
        },
        cancel() {
            this.username = ""
            this.password = ""
        },
    }
}
</script>
<style lang="scss" scoped>
@import '../../css/theme-styles/variables';

     .form {
        background-color: white;
        border: 0.1px solid #282828;
        box-shadow: 5px 10px 40px #282828;
      
        width: 500px;
        height: 420px;
        position: absolute;
       
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 40px;
        z-index: 5;
        padding-bottom: 20px;

        h1 {
            display: block;
            text-align: center;
        }

        .logo {
            position: absolute;
            background-image: url("/img/naon/logo.png");
            background-size: cover;
            background-position: center;
            width: 100px;
            height: 100px;
            background-color: white;
            border-radius: 100%;
            left: 50%;
            transform: translate(-50%,-50%);

            z-index: 10;

        }

        .registration {
            max-width: 90%;
            height: 80%;
            /*background-color: white;*/
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            padding: 20px;
            

            h1 {
                padding: 20px 20px 20px 0px;
            }

            svg {
                position: relative;
                top: -30px;
                left: 12px;
            }

            svg.fa-key {
                top: -29px;
            }

            input{
                background-color: #eeeeee;
                border: none;

                margin-bottom: 0px;

                padding-left: 40px;
            }

            .no-account-msg, .status {
                display: block;
                font-size: 0.75em;
                text-align: center;
                padding: 5px;
            }

            .status {
                border: 1px solid #A8A8A8;
                border-left: 3px solid #A8A8A8;
                margin-bottom: 10px;
            }



            .button-wrapper {
               
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    margin: 20px;
                    border-radius: 16px;
                    border: none;
                }

                button.btn-primary {
                    background-color: $naon-purple;
                }

                 button.btn-secondary {
                    background-color: $naon-red;
                }
            }
        }
        
    }
</style>
