<template>
    
        <main class="form">
            <div class="logo"></div>
          
            <form id="registration-form" class="registration" enctype="application/x-www-form-urlencoded">
                <h1>Registration</h1>
                    <fieldset>
                        
                        <input type="text" name="firstName" placeholder="First Name" class="form-control" id="first-name" required>
                    </fieldset>
                    <fieldset>
                        
                        <input type="text" name="lastName" placeholder="Last Name" class="form-control" id="last-name" required>
                    </fieldset>
                     <fieldset>
                        
                        <input type="email" name="email" placeholder="Email Address" class="form-control" id="email" required>
                    </fieldset>
                    <fieldset>
                        
                        <input type="text" name="username" placeholder="Username" class="form-control" id="username" required>
                    </fieldset>
                    <fieldset>
                       
                        <input type="password" name="password" placeholder="Password" class="form-control" id="password" v-model="password" required>
                    </fieldset>
                         <fieldset>
                       
                        <input type="password" placeholder="Re-type password" v-model="passwordRepeat" class="form-control" id="password2" required>
                    </fieldset>
                <span>if you have an account, click <router-link to="/" tag="a" active-class="active" exact>here</router-link> to sign in</span>
                <div class="button-wrapper">
                    <button type="submit" @click.prevent="submitRegistration" class="btn btn-primary">Submit</button>
                    <button class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </main>
   
</template>
<script>
import axios from 'axios';

    export default {
        data() {
           return {
                password:"",
                passwordRepeat:"",
                }
            
        },
        methods: {
            submitRegistration() {

                if (this.password == this.passwordRepeat){
                    let form = document.getElementById("registration-form");
                    let regForm = new FormData(form);
                    let req = `firstname=${regForm.get("firstName")}&lastname=${regForm.get("lastName")}&email=${regForm.get("email")}&username=${regForm.get("username")}&password=${regForm.get("password")}`;
                  
                    //console.log(regForm.get("username"));
                 this.$store.dispatch("AUTH_REGISTER", req).then(() => {
                    this.disableSubmit = false;
                    this.$router.push({name: "mainPage"});
                    }).catch(err=>{
                        
                    })
                } else {
                    //nothing
                }
            },
        }
    }
</script>
<style lang="scss">
@import '../../css/theme-styles/variables';

    .form {
        background-color: white;
        border: 0.1px solid #282828;
      box-shadow: 5px 10px 40px #282828;

        width: 500px;
        height: 598px;
        position: absolute;
       
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 40px;
        z-index: 5;
        padding-bottom: 20px;

        h1 {
            display: block;
            text-align: center;
        }
        span {
            display: block;
            text-align: center;

             font-size: 0.75em;
        }
        .logo {
            position: absolute;
            background-image: url("/img/naon/logo.png");
            background-size: cover;
            background-position: center;
            width: 100px;
            height: 100px;
            background-color: white;
            border-radius: 100%;
            left: 50%;
            transform: translate(-50%,-50%);

            z-index: 10;

        }

        .registration {
            max-width: 90%;
            height: 80%;
            /*background-color: white;*/
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            padding: 20px;
            

            input {
                margin-bottom: 20px;
                background-color: #eeeeee;
                border: none;

                
            }

            h1 {
                padding: 20px 20px 20px 0px;
            }

            .button-wrapper {
               
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    margin: 20px;
                    border: none;
                }

                 button.btn-primary {
                    background-color: $naon-purple;
                }

                 button.btn-secondary {
                    background-color: $naon-red;
                }
            }
        }
        
    }
</style>