
/* Appointment Area css
======================================================================= */


.appointment-area {
	.container {
		padding-top: 100px;
	}
	.appointment-form {
		position: relative;
		z-index: 1;

		label{
			display: block;
			color: $heading;
			font-size: 16px;
			font-family: $headingFont;
			margin-bottom: 10px;
		}
		input{
			display: block;
			width: 100%;
			border: 1px solid $border;
			height: 50px;
			padding: 0 15px;
			&:focus{
				-webkit-box-shadow:none;
				-moz-box-shadow:   none;
				box-shadow: none;
			}
		}
		textarea{
			display: block;
			width: 100%;
			border: 1px solid $border;
			padding: 15px 15px;
			height: 150px;
			margin-bottom: 50px;

		}
		.form-group {
			margin-bottom: 25px;
		}
	}
	form {
		margin-top: 24px;
		display: inline-block;
		width: 100%;
	}

	.card {
		border: none;
		border-radius: 0;
		.card-header {
			border-radius: 0;
			border: none;
			background-color: #fff;
		}
		.card-header:first-child {
			border-radius: 0;
		}
		.btn-link.collapsed {
			border-bottom: 1px solid #e9ecef;
			font-weight: 400;
			color: #1d1d1d;
			font-size: 16px;
			width: 100%;
			text-align: left;
			box-shadow: none;
			white-space: normal;
			@include transition;
			&:hover{
				text-decoration: none;
			}	
			@media (max-width: 1199px){
				font-size: 14px;
			}		
		}
		.card-body {
			font-weight: 300;
			font-size: 14px;
			line-height: 27px;
			background: $bg_one;
		}
		.card-header {
			padding: 0;
		}
		.btn-link {
			font-weight: 400;
			color: #1d1d1d;
			font-size: 16px;
			width: 100%;
			text-align: left;
			padding: 25px 0;
			white-space: normal;
			@include transition;
			&:hover{
				text-decoration: none;
			}	
			@media (max-width: 1199px){
				font-size: 14px;
			}	
		}
	}
	h3 {
		font-size: 24px;
		color: $heading;
		text-transform: capitalize;
		margin-bottom: 35px;
	}
	.appointment-inner{
		padding: 65px 0;
		box-shadow: 3.517px -8.285px 30px 0px rgba(12, 58, 132, 0.15);
		background: #fff;
		z-index: 11;
		position: relative;
		@media (max-width: 991px){
			padding: 65px 30px;

		}
	}

}

@media (max-width: 1199px){
	.appointment-inner .accordion {
		margin-bottom: 50px;
	}
}

.appointment-area .card h5 .btn.collapsed::after {
	content: "\e61a";
	font-family: 'themify';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	right: 6px;
	position: absolute;
	top: 30px;
	@media (max-width: 600px){
		display: none;
	}
}


.appointment-area .card h5 .btn::after {
	content: "\e622";
	font-family: 'themify';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	right: 6px;
	position: absolute;
	top: 30px;

	@media (max-width: 600px){
		display: none;
	}
}








