//header_area css
.header_area{
    position: absolute;
    width: 100%;
    padding: 10px 0px 0px 0px;
    height: 70px;
    top: 0;
    left:0;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
    .navbar{
        background: #fff;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        .logo_h{
            color: #fff;
            height: 80px;
            text-align: center;
            line-height: 69px;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 700;

            img {
                max-width: 178px;
            }
        }
        .navbar-brand {
            padding-top: 0;
        }
        .nav{
            .nav-item{
                margin-right: 45px;
                .nav-link{
                    font: 500 12px/80px $paraFont;
                    text-transform: uppercase;
                    color: $dip;
                    padding: 0px;
                    display: inline-block;
                    font-size: 14px;
                    &:after{
                        display: none;
                    }
                }
                &:hover, &.active{
                    .nav-link{
                        color: $baseColor;
                    }
                }
                &.submenu{
                    position: relative;
                    ul{
                        border: none;
                        padding: 0px;
                        border-radius: 0px;
                        box-shadow: none;
                        margin: 0px;
                        background: #fff;
                        box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
                        @media (min-width: 992px){
                            position: absolute;
                            top: 120%;
                            left: 0px;
                            min-width: 200px;
                            text-align: left;
                            opacity: 0;
                            transition: all 300ms ease-in;
                            visibility: hidden;
                            display: block;
                            border: none;
                            padding: 0px;
                            border-radius: 0px;
                        }
                        &:before{
                            content: "";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 10px 10px 0 10px;
                            border-color: #eeeeee transparent transparent transparent;
                            position: absolute;
                            right: 24px;
                            top: 45px;
                            z-index: 3;
                            opacity: 0;
                            transition: all 400ms linear;
                        }
                        .nav-item{
                            display: block;
                            float: none;
                            margin-right: 0px;
                            border-bottom: 1px solid #ededed;
                            margin-left: 0px;
                            transition: all 0.4s linear;
                            .nav-link{
                                line-height: 45px;
                                color: $dip;
                                padding: 0px 30px;
                                transition: all 150ms linear;
                                display: block;
                                margin-right: 0px;
                            }
                            &:last-child{
                                border-bottom: none;
                            }
                            &:hover{
                                .nav-link{
                                    background: $baseColor;
                                    color: #fff;
                                }
                            }    
                        }
                    }
                    &:hover{
                        ul{
                            @media (min-width: 992px){
                                visibility: visible;
                                opacity: 1;
                                top: 100%;
                            }
                            .nav-item{
                                margin-top: 0px;
                            }
                        }
                    }
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
    & + section, & + row, & + div{
        margin-top: 100px;
    }

    &.navbar_fixed{
        .main_menu{
            position: fixed;
            width: 100%;
            top: -70px;
            left: 0;
            right: 0;
            background:transparent;  
            transform: translateY(70px);
            transition: transform 500ms ease, background 500ms ease;
            -webkit-transition: transform 500ms ease, background 500ms ease;
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
            .navbar{
                .nav{
                    .nav-item{
                        .nav-link{
                            line-height: 70px;
                        }
                    }
                }
            }
        }
    }
}

.top_menu{
    border-bottom: 1px solid $border;
    .header_social{
        float: right;
        li{
            display: inline-block;
            margin-right: 15px; 
            a{
                font-size: 13px;
                color: $pfont;
                display: inline-block;
                line-height: 42px;
                @include transition;
            }
            &:last-child{
                margin-right: 0px;
            }
            &:hover{
                a{
                    color: $baseColor;
                }
            }

            @media (max-width: 991px){
                margin-right: 7px;

            }
        }
    }
    .dn_btn{
        line-height: 42px;
        display: inline-block;
        font-size: 14px;
        margin-right: 50px;
        font-family: $headingFont;
        font-weight: normal;
        color: $pfont;
        @include transition;
        &:hover{
            color: $baseColor;

        }
        &:last-child{
            margin-right: 0px;
        }
        i{
            margin-right: 10px;
        }
        @media (max-width: 991px){

            margin-right: 5px;
            font-size: 13px;
        }
    }
    .follow_us{
        float: left;
        color: #777;
        font-size: 14px;
        line-height: 42px;
        margin-right: 17px;
    }

}

@media (max-width: 767px){
    .top_menu{
        display: none;
    }
}

.right-button{
    margin-left: 60px;
    margin-top: 15px;
    ul{
        padding: 0;
        list-style: none;
        li{
            display: inline-block;
            margin-left: 30px;
            font-size: 16px;
            a{
                color: #777; 
            }
        }
    }
    .shop-icon{
        position: relative;
        span{
            position: absolute;
            background: #e22104;
            right: -10px;
            top: -4px;
            border-radius: 50px;
            color: #fff;
            width: 15px;
            height: 15px;
            font-size: 10px;
            text-align: center;
            line-height: 14px;
        }
    }
    @media (max-width: 991px){

        display: none;
    }

}


#search_input_box {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    z-index: 999;
    text-align: center;
    padding: 0 20px;
    background: $baseColor;
    ::placeholder {
        color: #fff;
    }
}

#search_input_box .form-control {
    background: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
}

#search_input_box .btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
}

#search_input_box .ti-close {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
}


.search-inner{
    padding: 5px 15px;
}

.form-control:focus {
    box-shadow: none;
}

.navbar_fixed #search_input_box {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1140px;
    z-index: 999;
    text-align: center;
    padding: 0 20px;
    top: 80px;
}




.feature-section{
    background: url(../img/banner/pattern_bg.jpg) no-repeat center;
    background-size: cover;
    padding: 60px 0;
    @media (max-width: 767px){
        padding: 60px 0 30px;
    }


}

.card-feature{
    padding: 40px 35px;
    border: 0;
    border-radius: 0;
    background: #fff;
    @include transition;
    @media ( max-width: 1200px){
        padding: 30px 20px;
    }

    @media ( max-width: 1200px){
        margin-bottom: 30px
    }

    &__icon{
        margin-bottom: 12px;
        display: inline-block;
        transform: translateY(4px);
        i{
            color: $baseColor;
            font-size: 26px;
            margin-right: 15px;

        }
        @media (max-width: 991px){
            display: block;
        }
    }

    &__title{
        font-size: 20px;
        font-weight: 600;
        color: $dip;
        @media ( max-width: 1200px){
            font-size: 18px;    }

            @media ( max-width: 991px){
                font-size: 16px;    }
            }


            &__subtitle{
                margin-bottom: 0;
                color: $pfont;
            }

            &:hover{
                background: $white;
                box-shadow: 0px 10px 20px 0px rgba(33, 20, 106, 0.1); 
            }
        }

