@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura-medium-bt.ttf') format('truetype');
}

/*font Variables*/
$headingFont: 'Futura', sans-serif;
/*$paraFont: 'Open Sans', sans-serif;*/
$paraFont: 'Futura', sans-serif;


/*Color Variables*/
$baseColor: #0051d2;
$baseColorLight: #ec473a;
$dip: #020a21;
$heading: #33363e;
$pfont: #000000; 
$white: #fff;
$bg_one: #f7f7f7;
$title-color: #2a2a2a;
$border: #e8edf1;



/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
	transition: $property $duration $animate $delay; 
}

// Placeholder Mixins

@mixin placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}





