<template>
    <div class="modal fade" id="post-form">
         <div class="modal-dialog ui-dialog window-popup" role="document">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
            </a>
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h4>Post Report Form</h4>
                    </div>
                </div>
                <div class="modal-body">
                   <form class="col-xs-12" @submit.prevent="submit" ref="formReport">
                       <div class="form-group">
                           <label for="reportSubject">Subject:</label>
                           <input name="reportSubject" required type="text" v-model="subject" placeholder="Subject" class="form-control" />
                       </div>
                       <div class="form-group">
                           <label for="reportType">Type of Report:</label>
                           <select name="reportType" required v-model="type" class="form-control">
                               <option>General Report</option>
                               <option>Lost and Found</option>
                           </select>
                       </div>

                       <section>
                           
                            <div class="form-group">
                                <textarea placeholder="Description" v-model="description" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="file"  @change="attachment1Event" name="Attachment1" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="file"   @change="attachment2Event" name="Attachment2" class="form-control" />
                            </div>
                                <div class="form-group">
                                <input type="file"   @change="attachment3Event" name="Attachment3" class="form-control" />
                            </div>
                       </section>
                       <div class="form-group">
                           <button class="btn btn-primary">Submit Report</button>
                           <button class="btn btn-secondary btn-border-think c-grey btn-transparent" @click.prevent="reset" data-dismiss="modal">Cancel</button>
                       </div>
                   </form>
                </div>
            </div>
         </div>
    </div>
</template>
<script>
import gql from 'graphql-tag';

const postgql = gql`
    mutation postMessage(
        $message: String!,
        $longitude: String,
        $latitude: String,
        $postType: String!,
        $subject: String !,
        $username: String!,
        $files:[Upload!]){

        postMessage(
            message:$message, 
            files:$files, 
            longitude: $longitude,
            latitude: $latitude,
            postType: $postType,
            subject: $subject,
            username: $username)
    }
`;
export default {
    data() {
        return {
            subject:null,
            type:null,
            description:null,
            attachments:[],
        }
    },
    methods: {
        reset() {
         
            this.$refs["formReport"].reset();

        },
        submit(e){
            let attachments = [];


            this.attachments.map(attachment => attachments.push(attachment));

            console.log(attachments);

           /* console.log(this.subject);
            console.log(this.type);
            console.log(this.description);

            console.log(attachments);*/

            this.$apollo.mutate({
                mutation: postgql,
                variables:{
                    message: this.description,
                    subject: this.subject,
                    postType: this.type,
                    longitude: "",
                    latitude: "",
                    username: "jono",
                    files: attachments
                }
            })


            e.target.reset();
        },
        pushFiles(e){
              let file = e.target.files[0];

              if (file){
                this.attachments.push(file)
            }
        },
        attachment1Event(e){
           this.pushFiles(e);
        },
        attachment2Event(e){
            this.pushFiles(e);
        },
        attachment3Event(e){
            this.pushFiles(e);
        }
    }
    
}
</script>
<style lang="scss" scoped>
    .modal-dialog{
        display: block !important;

        .btn-primary {
            margin-right: 10px;
        }
    }
  /*  #post-form {
        .window-popup {
              width: 800px;
              

             .modal-content{
                  .modal-body {
                     form {
                          min-width: 500px;
                      }
                  }
              }
        }
    }*/
</style>