<template>
    <div class="modal fade" id="view-photo">
         <div class="modal-dialog modal-lg ui-dialog window-popup" role="document">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
            </a>
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h4>Lost and Found</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="image-full">
                        <img :src="photoUrl"/>
                    </div>
                    <div class="details">
                        <div class="location">
                            <h5>Location:</h5>
                            <iframe wi v-if="displayMap"
                            :src="`https://www.google.com/maps/embed/v1/place?key=${apikey}&q=${post.geolocation.latitude},${post.geolocation.longitude}`" 
                            frameborder="0"
                            style="border:0"
                            class="google-map"/>
                        </div>
                        <div class="message">
                            <h5>Description:</h5>
                            <p>{{displayMessage}}</p>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</template>
<script>
import { bus }           from '../../main';
export default {
    data: function() {
        return {
            photoUrl: "",
            apikey:"",
            post: null,
        }
    },
     beforeMount: function() {
        this.apikey=process.env.VUE_APP_API_KEY;
    },
    
    mounted: function() {
        bus.$on("loadImage",(post)=> {
            this.post = post;
            this.photoUrl = post.image;
        })
    },
    computed: {
        displayMap(){
            return (this.post && this.post.geolocation && this.post.geolocation.latitude != '0' &&  this.post.geolocation.longitude !='0');
        },
        displayMessage() {
            if (this.post)
                return this.post.description;
        }
    }
    
}
</script>
<style lang="scss" scoped>
    #view-photo {
        .window-popup {
            max-width: 800px !important;
            
            .modal-content {
              .modal-body {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;
                  
                    .image-full {
                        max-width: 50%;
                        max-height: 600px;
                        padding: 10px;
                    
                       img {
                            border-radius: 10px;
                       }
                    
                    }
                    .details {
                        display: flex;
                        flex-direction: column;

                        .location {
                            max-width: 50%;
                            border-radius: 10px;
                            padding: 10px;

                            iframe {
                                border-radius: 10px;
                            }
                        
                        }

                        .message {
                            padding: 10px;
                        }
                        
                    }
                }
            }
        }
    }
</style>


