<template>
  <div class="row">
        <main class="col-xl-12 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12">
            <!--<candorism-post-form @messagePostedEvent="postedEvent"></candorism-post-form>-->
            <div class="button-wrapper">
                <button class="btn btn-primary btn-xs-12" 
                    @click.prevent=""
                    data-toggle="modal"
                    data-target="#post-form">
                Post Report</button>
            </div>
            <div id="newsfeed-items-grid col-xs-12">
                <candorism-post v-for="post in posts" :post="post" :key="post.id"></candorism-post>
            </div>
            <a id="load-more-button" @click.prevent="loadPost(page + 1)" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </main>
   </div>
</template>
<script>
import axios from 'axios';
import gql from 'graphql-tag';
import {bus}    from '../../main';

const POST_QUERY = gql`
    query($pageNumber: Float!) {
                    posts(pageNumber:$pageNumber){
                        items {
                            message
                            subject
                            postType
                            id
                            likes{
                                username
                                replyId
                            }
                            location{
                                latitude
                                longitude
                            }
                            attachments
                        }
                    }
                }
`;

export default {
    apollo:{
        posts: {
            query: POST_QUERY,
            variables: {
                pageNumber: 1
                
            },
            update: (data)=>{
                console.log(data);
                return data.posts.items.map((p)=> {
                    return {
                        type: p.postType,
                        subject: p.subject,
                        username: "jono",
                        message: p.message,
                        id: p.id,
                        likes: p.likes,
                        image: p.image,
                    
                        geolocation: p.location
                    }
                });
            }
        }
    },
    data: function() {
        return {
            posts: [],
            page: 1,
        }
    },
    methods: {
      async  loadPost(page) {
         
         let result = await this.$apollo.queries.posts.fetchMore({
                variables:{
                
                    pageNumber: page
                    
                },
                updateQuery:(previousResult,{fetchMoreResult})=>{
                    console.log(fetchMoreResult)
                    let result = fetchMoreResult.posts.items;
                    
                    if (result.length > 0)
                      this.page = page;

                    result.map(p=>{
                        this.posts.push({
                             type: p.postType,
                             username: "jono",
                             subject: p.subject,
                             message: p.message,
                             id: p.id,
                             likes: p.likes,
                             image: p.image,
                            
                             geolocation: p.location
                         }) 
                    })
                    

                }
         })
    
      
        },
        postedEvent(e){
        
            if (this.posts.length >= 5)
                this.posts.pop();

            this.posts.unshift({
                type: e.postType,
                username: "jono",
                message: e.message,
                id: e.id,
                likes: e.likes,
                image: e.image,
                description: e.description,
                geolocation: (e.location) ? {
                    latitude: e.location.latitude,
                    longitude: e.location.longitude
                }: null
            })                      
        },
        logout() {
            bus.$emit("logout");
        }
    }
}
</script>
<style lang="scss" scoped>
 .row {
     .button-wrapper{
         display: flex;
         justify-content: center;
         height: 100px;

         .btn {
             height: 50px;
             width: 200px;
         }
     }
 }
</style>

