<template>
   <div class="ui-block">

        <article class="hentry post">

            <div class="post__author author vcard inline-items">
                <img src="img/avatar10-sm.jpg" alt="author">

                <div class="author-date">
                    <a class="h6 post__author-name fn" href="#">{{post.username}}</a>
                    <div class="post__date">
                        <time class="published" datetime="2004-07-24T18:18">
                            9 hours ago
                        </time>
                    </div>
                </div>

                <div class="more">
                    <svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                    <ul class="more-dropdown">
                        <li>
                            <a href="#">Edit Post</a>
                        </li>
                        <li>
                            <a href="#">Delete Post</a>
                        </li>
                        <li>
                            <a href="#">Turn Off Notifications</a>
                        </li>
                        <li>
                            <a href="#">Select as Featured</a>
                        </li>
                    </ul>
                </div>

            </div>

            <!--<candorism-video v-if="post.type === 'video'"></candorism-video>
            <p>{{post.message}}</p>
            <div v-if="this.imageFile.length > 0" class="image-container">
                <div id="image">
                    <img :src="imageFile"/>
                </div>
            </div>-->
            <naon-lostnfound v-if="post.type === 'Lost and Found'" :post="post"/>
            <naon-post v-if="post.type === 'General Report'" :post="post"/>

            <div class="post-additional-info inline-items">

                <a class="post-add-icon inline-items" :class="{active: isActive}">
                    <svg class="olymp-heart-icon" :class="{active: isActive}" @click.prevent="likePost(post.id)"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
                    <span></span>
                </a>

              <!--  <ul v-if="post.likes.count > 0" class="friends-harmonic">
                    <li>
                        <a href="#">
                            <img src="img/friend-harmonic7.jpg" alt="friend">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/friend-harmonic8.jpg" alt="friend">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/friend-harmonic9.jpg" alt="friend">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/friend-harmonic10.jpg" alt="friend">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/friend-harmonic11.jpg" alt="friend">
                        </a>
                    </li>
                </ul>-->

              <!--  <div v-if="post.likes.count > 0" class="names-people-likes">
                    <a href="#">You</a>, <a href="#">Elaine</a> and
                    <br>22 more liked this
                </div>-->


                <div class="comments-shared">
                    <a href="#" class="post-add-icon inline-items">
                        <svg class="olymp-speech-balloon-icon"><use v-bind="{'xlink:href':'svg-icons/sprites/icons.svg#olymp-speech-balloon-icon'}"></use></svg>
                        <span>{{comments.length}}</span>
                    </a>

                    <a href="#" class="post-add-icon inline-items">
                        <svg class="olymp-share-icon"><use v-bind="{'xlink:href':'svg-icons/sprites/icons.svg#olymp-share-icon'}"></use></svg>
                        <span>24</span>
                    </a>
                </div>
            </div>
            <div v-if="isDisplayControlBlock" class="control-block-button post-control-button">
                <a href="#" class="btn btn-control">
                    <svg class="olymp-like-post-icon"><use v-bind="{'xlink:href':'svg-icons/sprites/icons.svg#olymp-like-post-icon'}"></use></svg>
                </a>
                <a href="#" class="btn btn-control">
                    <svg class="olymp-comments-post-icon"><use v-bind="{'xlink:href':'svg-icons/sprites/icons.svg#olymp-comments-post-icon'}"></use></svg>
                </a>
                <a href="#" class="btn btn-control">
                    <svg class="olymp-share-icon"><use v-bind="{'xlink:href':'svg-icons/sprites/icons.svg#olymp-share-icon'}"></use></svg>
                </a>
            </div>
        </article>
        <ul class="comments-list">
            <li v-for="comment in comments" v-bind:key="comment.id">
                <div class="post__author author vcard inline-items">
                    <img alt="author">

                    <div class="author-date">
                        <a class="h6 post__author-name fn">{{comment.author.username}}</a>
                        <div class="post__date">
                            <time class="published" v-bind:datetime="comment.published">
                                38 mins ago
                            </time>
                        </div>
                    </div>

                    <a href="#" class="more"><svg class="olymp-three-dots-icon"><use v-bind="{'xlink:href':'svg-icons/sprites/icons.svg#olymp-three-dots-icon'}"></use></svg></a>

                </div>

                <p>{{comment.message}}</p>

                <a href="#" class="post-add-icon inline-items">
                    <svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
                    <span>3</span>
                </a>
                <a href="#" class="reply">Reply</a>
            </li>
        </ul>

        
        <a v-if="comments.length > 1" class="more-comments">View more comments <span>+</span></a>
        <candorism-post-comment v-if="isDisplayPostComment" @commentPostedEvent="commentPostedEvent" :postId="post.id"></candorism-post-comment>
    </div>
</template>
<script>
import axios from "axios";
import imageResizer  from '../services/imageResizer';

const postMessage = () => import(/*webpackChunkName: "post-message"*/ "./post.vue");
const postVideo = () => import(/*webpackChunkName: "post-video"*/ "./post-video.vue");
const postComment = () => import(/*webpackChunkName: "post-comment"*/ "./post-comment.vue");
const postLostNFound = () => import("./post-lostnfound");
const post = () => import("./post");

export default {
    props: {
        post: {
            type: Object
        },
        isDisplayPostComment: {
            type: Boolean,
            default: true
        },
        isDisplayControlBlock: {
            type: Boolean,
            default: true,
        }
    },
    beforeMount(){
        /*if (this.post.image && this.post.image.length > 0)
            this.resizeImage();*/
    },
    mounted() {
    //    this.loadComments();
    //   this.displayPostComment = this.isDisplayPostComment || true 
    },
    data: function(){
        return {
            comments: [],
            isActive: false,
            likes: null,
            imageFile: '',
            
        }
    },
    components: {
        "candorism-message": postMessage,
        "candorism-video": postVideo,
        "candorism-post-comment": postComment,
        "naon-lostnfound": postLostNFound,
        "naon-post":post,
    },
    methods: {
        loadComments() {
            axios.get(`/reply/${this.post.id}/1`)
                 .then(resp => {
                     for(let comment of resp.data){
                         this.comments.push({
                            id: comment.id,
                            author: {
                                username: comment.user.username,

                            },
                            message: comment.message,
                            published: comment.modifiedDate
                         })
                     }
                 })
        },
        likePost(postId){
            axios.post(`/post/like/${postId}`)
                 .then(()=>{
                     this.post.likes.count++;

                     this.isActive = true;
                 })
                 .catch()
        },
        commentPostedEvent(comment){
            this.comments.unshift(comment);
        },
        resizeImage(){
            imageResizer(this.post.image,(base64Image)=> {
                this.imageFile = base64Image;
            })
        }
    }
  
};
</script>
<style lang="scss" scoped>
@import "../../../css/common-styles/shared";

    .active {
        color: #ff5e3a !important;
    }
    .ui-block {
        .hentry {
            .image-container {
                display: flex;
                padding-bottom: 10px;
            }
        }
    }
</style>

