<template>
 <main>
    <div class="main-header">
        <div class="content-bg-wrap bg-account"></div>
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                    <div class="main-header-content">
                    </div>
                </div>
            </div>
        </div>
        <img class="img-bottom" src="img/account-bottom.png" alt="friends">
    </div>
    <div class="container">
	    <div class="row">
            <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Account Settings</h6>
                    </div>
                    <div class="ui-block-content">
                        <accountSettingFormComponent/>
                    </div>
                </div>
            </div>

		<div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
			<div class="ui-block">
                <accountSettingProfileComponent/>

			</div>
		</div>
	</div>
    </div>
 </main>
</template>
<script>
export default {
    components: {
        accountSettingFormComponent: () => import("./accountSettingForm"),
        accountSettingProfileComponent: () => import("./accountSettingProfile")
    }
    
}
</script>
<style lang="scss">

</style>