<template>
      <ul class="notification-list chat-message" v-if="messages">
        <li v-for="message in messages" :key="message.from">
            <div class="author-thumb">
                <img src="img/avatar8-sm.jpg" alt="author">
            </div>
            <div class="notification-event">
                <a href="#" class="h6 notification-friend">{{message.from}}</a>
                <span class="chat-message-item">{{message.message}}</span>
                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
            </div>
            <span class="notification-icon">
                <router-link :to="{path: '/main/message', query:{username: message.from}}" tag="svg" class="olymp-chat---messages-icon">
                   <use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use>
                </router-link>
            </span>

            <div class="more">
                <svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
            </div>
        </li>
    </ul>    
</template>
<script>
import { getMessages } from '../gql/GetMessages';
export default {
    apollo:{
        messages: {
            query: getMessages,
            variables(){
                return {
                    pageNumber: 1,
                }
            },
            update:data => {
                let messagesList = [];
                let result = data.messages.items.reduce((messages, curr)=>{
                    let index = messagesList.findIndex(m => m.from == curr.from);
                        if (index == -1)
                            messagesList.push(curr);
                        
                    
                        return messagesList;
                });

                return result;
            }
        },
        
    }
    
}
</script>
<style lang="scss" scoped>

</style>