<template>
      <div class="chat-field">
        <div class="ui-block-title">
            <h6 class="title">{{fromProp}}</h6>
            <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>
        <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="notification-list chat-message chat-message-field" v-if="conversations">
               <li v-for="conversation in conversations.items" :key="conversation.id">
                    <div class="author-thumb">
                        <img src="img/avatar10-sm.jpg" alt="author">
                    </div>
                    <div class="notification-event">
                        <div class="event-info-wrap">
                            <a href="#" class="h6 notification-friend">{{conversation.from}}</a>
                            <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                        </div>
                        <span class="chat-message-item">{{conversation.message}}</span>
                    </div>
                </li>
            </ul>
        </div>

        <form>

            <div class="form-group">
                <textarea class="form-control" v-model="message" placeholder="Write your reply here..."></textarea>
            </div>

            <div class="add-options-message">
                <a href="#" class="options-message">
                    <svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
                </a>
                <a href="#" class="options-message">
                    <svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
                </a>
                <div class="options-message smile-block">
                    <svg class="olymp-happy-sticker-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use></svg>

                    <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                        <li>
                            <a href="#">
                                <img src="img/icon-chat1.png" alt="icon">
                            </a>
                        </li>
                    </ul>
                </div>

                <button class="btn btn-primary btn-sm" @click.prevent="sendMessage">Post Reply</button>
            </div>

        </form>

    </div>
</template>
<script>
import gql from 'graphql-tag';

const conversationQuery = gql`
    query getConversations($from: String!, $pageNumber: Float!) {
        conversations(from:$from, pageNumber:$pageNumber) {
            total,
            totalUnread,
            items {
                from
                to
                isRead
                date
                id
                message
            }
        }
    }
`;

const sendMessageMutation = gql`
mutation sendMessage($receiver: String!, $sender: String!, $message: String!){
  sendMessage(to:$receiver, from:$sender, message:$message){
    from
    to
    message
    date
    isRead
    id
  }
}`;

export default {
    props:["username"],
    apollo:{
        conversations: {
            query: conversationQuery,
            variables(){
                return {
                    from: this.fromProp,
                    pageNumber: this.pageNumberProp
                }
            }
        }
    },
    data(){
        return {
            usernameProp:"jini",
            fromProp:this.username,
            pageNumberProp: 1,
            message:"",
            conversations: [],
        }
    },
    created(){
         this.fromProp = this.username
    },
    watch:{
        username(newVal, oldVal) {
             this.fromProp = newVal;
        }
    },
    methods: {
      async  sendMessage(){
         await this.$apollo.mutate({
                mutation: sendMessageMutation,
                variables:{
                    receiver: this.fromProp,
                    sender: this.usernameProp,
                    message: this.message,
                },
                update:(_,{data: {sendMessage}})=>{
                    
                    this.conversations.items.push(sendMessage);
    
                }
            })
        }
    }
}
</script>
<style lang="scss" scoped>

</style>