<template>
    <!--<div class="container">-->
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Chat / Messages</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>

				<div class="row">
					<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12 padding-r-0">
                      <chat-list />
					</div>

					<div class="col col-xl-7 col-lg-6 col-md-12 col-sm-12 col-12 padding-l-0">
                      <chat-field :username="selectedUsername"/>
					</div>
				</div>

			</div>

             <pagination />

		</div>
	</div>
<!--</div>-->    
</template>
<script>
const chatList = ()=> import("./chat-list");
const chatField = ()=> import("./chat-field");
const pagination = ()=> import("./pagination");

export default {
	props:["username"],
    created(){
		console.log(this.username);
       this.selectedUsername = decodeURIComponent(this.username);
    },
    watch:{
        "$route" (to, from){
            this.selectedUsername = decodeURIComponent(this.username);
        }
	},
	data(){
		return {
			selectedUsername:""
		}
	},
    components:{
        "chat-list":chatList,
        "chat-field":chatField,
        "pagination": pagination,
    }
}
</script>
<style lang="scss" scoped>

</style>