<template>
    <main>
        <h1>Search result for: {{decodeURIComponent(q)}}</h1>
        <div v-for="result in results"  :key="result.id"  v-on:click.prevent="details(result.id)" class="search-result">
                <candorism-post     
                :post="result" :isDisplayPostComment="false" 
                :isDisplayControlBlock="false" 
                :key="result.id" ></candorism-post>
        </div>
    </main> 
</template>
<script>
import search from './search.service';
import { bus }   from '../../main';

export default {
    props:["q"],
    created() {
        this.executeSearch(decodeURIComponent(this.q))
    },
    data() {
        return {
            results: []
        }
    },
    watch: {
        "$route": function (from, to){
            //console.log(`route change: ${decodeURIComponent(this.q)}`);
            this.executeSearch(decodeURIComponent(this.q))
        }
    },
    methods:{
        imageExists(result){
            return (result.image && result.image.length > 0);
        },
        executeSearch(searchTerm){
            search(searchTerm).then(result => {
                this.results = [];
                let processedArray = result.map(r => {
                    r.postType = "lostandfound";
                    return r;
                }) || [];

                for(let post of processedArray)
                {
                 this.results.push({
                             type: post.postType,
                             username: post.username,
                             message: post.message,
                             id: post.id,
                             likes: post.likes,
                             image: post.image,
                             description: post.description,
                             geolocation: post.geolocation
                         }) 
                }

                console.log(result);
            })
        },
        details(post_id){
            bus.$emit("details",post_id);
        }

    },
}
</script>
<style lang="scss" scoped>
@import "../../css/theme-styles/variables";

    main {
        .search-result {
            
            display: flex;
            height: auto;
            flex-wrap: wrap;
           justify-content: center;

           flex-direction: column;
           cursor: pointer;

            .search-result-element {
                padding: 10px;
                width: 100%;
                border-style: solid;
                border-width: 1px;
                border-color: #f2f2f2;
                display: flex;
                margin: 10px;
                color:#000;
                background-color: #fff;
                border-radius: 4px;
                
                
            }

            .message {
                width: auto;
                padding-left: 10px;
                font-size: $font-size-input;
            }
        }
    }
</style>

